{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}


<h1>
    {{title}}
</h1>
    <div class = "container main_page">
        <div class="row">

            <h2 class="medium-styled-text">What's the Pitch?</h2>


            <div class="jumbotron my_tron">
                <div>
                    <a href="{{url_for('main.new_blog')}}">
                        <h3>Write Your New Blog Here...</h3></a>

                        </div>
                </div>
            </div>
        </div>
        </div>
    </hr>

                <hr>
                <div class="center">
                    <h2>LATEST BLOGS</h2>
                    <div class="well">
                </div>
                </div>

        </div>
        </div>

    </div>


